@font-face {
  font-family: "Quicksand-Regular";
  src: local("Quicksand-Regular"),
    url("./fonts/Quicksand-Regular.ttf") format("truetype");
  font-weight: normal;
}


body {
  margin: 0;
  font-family: "Quicksand-Regular", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(255, 254, 205);
}

  html, body, #root, #root>div {
    height: 100%;
    margin: 0;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input, button{
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.3);
}

input{
  border-radius: 5px;
  border-width: 1px;
}

button{
  border-radius: 5px;
  border-width: 1px;
}

button:active{
  background-color: rgb(172, 172, 172);
}



